/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* font-family: 'Work Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
h1 {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: -1.54px;
}

h2 {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1px;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  opacity: .9;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90px;
  align-items: center;
}

.header__logo {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.63px;
  position: relative;
  z-index: 3;
  text-decoration: none;
}

.header__logo:hover {
  color: #ffcc01;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
}

.header__link {
  margin-left: 20px;
}

.header__link {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}

.header__link:hover {
  color: #ffcc01;
}

.content {
  padding: 100px 0 0 0;
}

.content__text {
  font-size: 18px;
  line-height: 25px;
}

.content__text p {
  margin: 0 0 20px 0;
}

.join_us {
  margin: 0 15px 0 100px;
}

.getting_started {
  background: #ffcc01;
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid #ffcc01;
  transition: 0.4s all;
  margin: 0;
}

.getting_started:hover {
  background-color: transparent;
  border: 1px solid #ffcc01;
  transition: 0.4s all;
}


/* info============================================================ */

.info {
  padding: 90px 0 0 0;
  position: relative;
}

.info__title {
  max-width: 60%;
  position: absolute;
  z-index: 10;
  top: 110px;
}

.info__search {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  height: 70px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.info__search input,
.appartments__search input {
  border: none;
  padding: 25px 40px;
  background: url(../images/search.svg) no-repeat 10px 27px;
  color: #919eb1;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.38px;
}

.info__search button,
.appartments__search button {
  background-color: #ffcc01;
  padding: 20px 30px 33px 37px;
  ;
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.38px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.info__image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 960px;
  height: 630px;
  background: url(../images/content/home-bg.webp) no-repeat 50% 50%;
  position: relative;
  left: 200px;
}

.image__tell,
.image__map {
  position: relative;
}

.image__tell p,
.image__map p {
  background-color: #ffcc01;
  padding: 30px 60px 35px;
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.45px;
  margin: 0;
}

.image__tell:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 25px;
  width: 25px;
  height: 25px;
  background: url(../images/tell.svg) no-repeat 50% 50%;
}

.image__map:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 25px;
  width: 25px;
  height: 25px;
  background: url(../images/map.svg) no-repeat 50% 50%;
}

.info__down {
  position: absolute;
  left: -35px;
  top: 560px;
  transform: rotate(90deg);
  padding: 0 40px 0 0;
}

.info__down a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 85px;
  width: 13px;
  height: 28px;
  background: url(../images/arrow.svg) no-repeat 50% 50%;
  transform: rotate(-90deg);
}

.info__down a {
  text-decoration: none;
  color: #919eb1;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.3px;
}


/* statistics========================================================= */

.statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 145px 0 80px 0;
}

.statistics__text {
  width: 535px;
}

.statistics__text h2 {
  max-width: 400px;
}

.statistics__text p {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.33px;
  padding: 70px 0 0 0;
}

.statistics__text p:last-child {
  padding: 30px 0 0 0;
}

.statistics__animation {
  display: flex;
  width: 430px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.statistics__component {
  background-color: #f6f5f4;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 15px 0;
}

.number {
  color: #ffcc01;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1px;
  margin: 60px 0 0 0;
}

.statistics__animation p {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.35px;
}


/* Appartments============================================================ */

.appartments {
  background-color: #f6f5f4;
}

.appartments h2 {
  padding: 73px 0 58px;
  max-width: 450px;
}

.appartments__components {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.components {
  width: 350px;
  margin: 15px 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
  -moz-box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
  box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
  transition: 0.4s all;
}

.components:hover {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(255, 204, 1, 1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(255, 204, 1, 1);
  box-shadow: 0px 2px 8px 0px rgba(255, 204, 1, 1);
  transition: 0.4s all;
}

.components img {
  max-width: 351px;
  height: 380px;
}

.components h3 {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.38px;
  padding: 25px 0 0 23px;
}

.components__price {
  display: flex;
  justify-content: space-between;
}

.components__price>p {
  color: #ffcc01;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.45px;
  padding: 0 0 0 20px;
}

.components__info {
  display: flex;
}

.components__info p {
  color: #919eb1;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: -0.33px;
  padding: 0 20px;
}

.components__info p:first-child {
  background: url(../images/shower.svg) no-repeat 0 20px;
}

.components__info p:last-child {
  background: url(../images/bed.svg) no-repeat 0 20px;
}

.appartments_many {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 85px 0;
}

.appartments__search {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  height: 70px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.appartments__all {
  margin: 0 0 0 40px;
  width: 250px;
  height: 70px;
  background-color: #fff;
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.38px;
  border: none;
  border-radius: 5px;
  transition: 0.4s all;
}

.appartments__all:hover {
  background-color: #ffcc01;
  transition: 0.4s all;
}


/* works================================================================== */

.works__title h2 {
  padding: 55px 0 36px 0;
}

.title__info {
  max-width: 370px;
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.33px;
}

.works__base {
  display: flex;
  justify-content: center;
  margin: 70px 0 90px 0;
  flex-wrap: wrap;
}

.works__item {
  color: #1f373d;
  width: 345px;
  margin: 10px;
  position: relative;
  padding: 0 5px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
  -moz-box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
  box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
  overflow: hidden;
  transition: 0.4s all;
}

.works__item:hover {
  background: #ffcc01;
  transition: 0.4s all;
  color: #fff;
}

.works__item h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: -0.45px;
  padding: 147px 0 0 43px;
}

.works__item .item__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.33px;
  max-width: 280px;
  padding: 0 0 0 70px;
}

.works__item button {
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.33px;
  border: none;
  position: relative;
  margin: 27px 0 65px 75px;
  padding: 0;
  border-bottom: 2px solid #1f373d;
  transition: 0.4s all;
}

.item__bg {
  position: absolute;
  top: 0;
  left: -40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 180px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 5px;
}

.services__info {
  max-width: 370px;
  color: #1f373d;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.33px;
  margin: 36px 0 66px 0;
}

.services__base {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__img {
  width: 650px;
  height: 630px;
  background: url(../images/content/lot2.svg) no-repeat 50% 50%;
  position: relative;
  top: 0;
  left: -100px;
}

.services__base img {
  max-width: 651px;
  height: 631px;
  position: relative;
  left: -110px;
}

.services__text {
  max-width: 440px;
}

.services__item h3 {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.63px;
}

.services__item p {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.33px;
  padding: 0 0 60px 0;
}


/* agents================================================================== */

.agents {
  background-color: #f6f5f4;
}

.agents h2 {
  padding: 65px 0 38px 0;
}

.agents__info {
  max-width: 370px;
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.33px;
  padding: 0 0 63px 0;
}

.agents .components__info p:first-child {
  background: url(../images/facebook.svg) no-repeat 0 20px;
}

.agents .components__info p:nth-child(2) {
  background: url(../images/twitter.svg) no-repeat 0 20px;
}

.agents .components__info p:last-child {
  background: url(../images/dribble.svg) no-repeat 0 20px;
}

.owl-carousel {
  padding: 0 0 96px 0;
}


/* Seper================================================================== */

.super__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 90px 0;
}

.super__item h3 {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.63px;
  margin: 30px 0;
}

.item__one .super__img p {
  position: absolute;
  bottom: -40px;
  left: 100px;
}

.super__img {
  width: 541px;
  height: 331px;
  background-color: #8da4be;
  position: relative;
}

.super__img p {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.45px;
  background-color: #ffcc01;
  width: 335px;
  height: 80px;
  text-align: center;
  padding: 30px 0;
}

.super__align h3 {
  text-align: right;
}

.super__align p {
  text-align: right;
}

.super__text p {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.33px;
  max-width: 440px;
}

.item__two .super__img p {
  position: absolute;
  bottom: -40px;
  right: -55px;
}

.item__three button {
  width: 241px;
  height: 81px;
  border: none;
  background-color: #1f373d;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.45px;
  margin: 20px 0 0 0;
}


/* footer================================================================= */

footer {
  background-color: #1f373d;
}

.footer__title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 64px 0 50px 0;
  border-bottom: 2px solid #919eb1;
}

.footer__title h2 {
  max-width: 385px;
  color: #fff;
}

.footer__search {
  display: flex;
  width: 476px;
}

.footer__search input {
  color: #919eb1;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.38px;
  border: none;
  max-width: 400px;
  height: 70px;
  padding: 0 0 0 30px;
}

.footer__search button {
  border: none;
  background-color: #fff;
  width: 20%;
  height: 70px;
  background-image: url(../images/arrow_right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__search button:hover {
  background-color: #ffcc01;
}

.footer__botom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 80px 0;
}

.footer__info h3 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.63px;
}

.footer__info p {
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.76px;
  letter-spacing: 0.14px;
  padding: 70px 0 0 0;
  width: 134px;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__box a {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  margin: 0 0 20px 0;
}

.footer__box a:hover {
  color: #919eb1;
}

.footer__item {
  width: 90px;
  margin: 0 100px 0 0;
}

.item__company {
  width: 72px;
}

.footer__item p {
  color: #919eb1;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}


/* Media================================================================= */


/* Media */

@media (max-width:820px) {
  .header__logo {
    flex: 0 0 40px;
  }
  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #1f373d;
    width: 100%;
    height: 2px;
    left: 0;
    top: 45%;
    transition: .5s ease;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #1f373d;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .5s ease;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0)
  }
  .header__menu {
    position: fixed;
    top: -100%;
    overflow: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
    transition: all .5s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
  .header__link {
    font-size: 24px;
  }
  .header__link {
    margin-left: 0;
  }
  .join_us {
    margin: 0;
  }
}

@media (max-width: 590px) {
  .image__tell p,
  .image__map p {
    font-size: 15px;
    padding: 30px 10px 35px 10px;
  }
  .image__tell:before {
    position: static;
  }
  .image__map:before {
    position: static;
  }
}

@media (max-width: 611px) {
  .appartments__all {
    margin: 15px 0 0 40px;
  }
}

@media (max-width:820px) {
  body.lock {
    overflow: hidden;
  }
  .content {
    padding: 70px 0 0 0;
  }
}

@media (max-width:880px) {
  .join_us {
    margin: 0 10px 0 45px;
  }
  .getting_started {
    padding: 15px 15px;
  }
}

@media (max-width:1100px) {
  .appartments__components {
    justify-content: space-around;
  }
}

@media (max-width:1200px) {
  .info__image {
    left: 20px;
  }
  .item__two .super__img p {
    right: 0;
  }
  .services__base {
    justify-content: center;
  }
}

@media (max-width:992px) {
  .info__title {
    max-width: 100%;
  }
  .info__image {
    position: static;
  }
  .services__img {
    position: static;
  }
  .statistics {
    justify-content: center;
  }
  .super__item {
    justify-content: center;
  }
  .item__two .super__img p {
    right: 0;
  }
}

@media (max-width:768px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 28px;
  }
  .info__title {
    top: 0;
  }
  .item__two .super__img p {
    right: 32px;
  }
  .item__one .super__img p {
    left: 32px;
  }
  .super__img p {
    width: 230px;
  }
  .appartments__search input {
    padding: 25px 0 25px 34px;
  }
  .info__search input,
  .appartments__search input {
    padding: 25px 0 25px 34px;
  }
  .statistics {
    margin: 43px 0 0 0;
  }
  .statistics__text p {
    padding: 20px 0 0 0;
  }
  .appartments h2 {
    padding: 73px 0 15px;
  }
  .appartments_many {
    justify-content: center;
  }
  .footer__item {
    margin: 10px 60px 0 0;
  }
  .footer__title {
    padding: 10px 0 50px 0;
  }
  .appartments_many {
    padding: 50px 0 30px 0;
  }
  .statistics__component {
    margin: 15px 15px;
  }
  .statistics__animation {
    justify-content: center;
  }
  .info__search button,
  .appartments__search button {
    padding: 20px 15px 33px;
  }
}