/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* font-family: 'Work Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Reset.css */

@import url("/css/reset.css");

/* ----------------------------------------------------------- */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #fff;
}
.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90px;
  align-items: center;
}
.header__logo {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.63px;
  position: relative;
  z-index: 3;
  text-decoration: none;
}
.header__logo:hover {
  color: #ffcc01;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
}
.header__link {
  margin-left: 20px;
}
.header__link {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}
.header__link:hover {
  color: #ffcc01;
  
}
.content {
  padding: 100px 0 0 0;
}
.content__text {
  font-size: 18px;
  line-height: 25px;
}
.content__text p {
  margin: 0 0 20px 0;
}
.join_us {
  margin: 0 15px 0 100px;
}
.getting_started {
  background-color: #ffcc01;
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid #ffcc01;
  transition: 0.4s all;
  margin: 0;
}
.getting_started:hover {
  background-color: transparent;
  border: 1px solid #ffcc01;
  transition: 0.4s all;
}
/* Media */
@media (max-width:820px) {
  .header__logo {
    flex: 0 0 40px;
  }
  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #1f373d;
    width: 100%;
    height: 2px;
    left: 0;
    top: 45%;
    transition: .5s ease;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #1f373d;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .5s ease;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0)
  }
  .header__menu {
    position: fixed;
    top: -100%;
    overflow:auto;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
    transition: all .5s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
  .header__link {
    font-size: 24px;
  }
  .header__link {
    margin-left: 0;
  }
  .join_us {
    margin: 0 ;
  }
}
/* info============================================================ */
.info {
  padding: 90px 0 0 0;
  position: relative;
}
.info__title {
  width: 60%;
  height: 30vh;
  position: absolute;
  z-index: 10;
  top: 13vh;
}
h1 {
color: #1f373d;
font-family: 'Montserrat', sans-serif;
font-size: 62px;
font-weight: 700;
line-height: 78px;
letter-spacing: -1.54px;
}
.info__search {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 500px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.info__search input {
  border: none;
  padding: 25px 40px;
  background: url(../images/search.svg) no-repeat 10px 35px;
}
.info__search button {
  background-color: #ffcc01;
  padding: 27px 30px 33px 37px;;
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.38px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.info__image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 88%;
  height: 630px;
  background: url(../images/content/lot1.webp) no-repeat 50% 50%;
  position: relative;
  left: 200px;
}
.image__tell, .image__map{
  position: relative;
}
.image__tell p, .image__map p{
  background-color: #ffcc01;
  padding: 30px 60px 35px;
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.45px;
}
.image__tell:before {
  content: "";
  position: absolute;
  top: 35px;
  left: 25px;
  width: 25px;
  height: 25px;
  background: url(../images/tell.svg) no-repeat 50% 50%;
}
.image__map:before {
  content: "";
  position: absolute;
  top: 35px;
  left: 25px;
  width: 25px;
  height: 25px;
  background: url(../images/map.svg) no-repeat 50% 50%;
}
.info__down {
  position: absolute;
  left: -35px;
  top: 61vh;
  transform: rotate(90deg);
  padding: 0 40px 0 0;
}
.info__down a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 85px;
  width: 13px;
  height: 28px;
  background: url(../images/arrow.svg) no-repeat 50% 50%;
  transform: rotate(-90deg);
}
.info__down a {
  text-decoration: none;
  color: #919eb1;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.3px;
}
/* statistics========================================================= */
.statistics__text h2 {
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1px;
}
.statistics__text p{
  color: #1f373d;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.33px;
}
/* Media================================================================= */
@media (max-width:820px) {
  body.lock {
    overflow: hidden;
  }
  .content {
    padding: 70px 0 0 0;
  }
}
@media (max-width:880px) {
  .join_us {
    margin: 0 10px 0 45px;
}
.getting_started {
  padding: 15px 15px;
}

}